<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="UTF-8">
    <title>房间添加</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{~/css/font.css}">
    <link rel="stylesheet" th:href="@{~/css/xadmin.css}">
    <script type="text/javascript" th:src="@{~/js/jquery-3.2.1.js}"></script>
    <script type="text/javascript" th:src="@{~/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{~/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-body">
        <form id="addForm" class="layui-form" th:action="@{~/admin/user/create}" method="post">
            <input type="hidden" id="data_id" name="id" th:value="${result==null?'':result.data.id}">
            <div class="layui-form-item">
              <label for="name" class="layui-form-label">
                  <span class="x-red">*</span>名称
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="name" name="name" required="" lay-verify="required"
                  autocomplete="off" class="layui-input" th:value="${result==null?'':result.data.name}">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>
              </div>
            </div>
            <div class="layui-form-item">
                <label for="name" class="layui-form-label">
                    <span class="x-red">*</span>房间数量
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="count" name="count" required="" lay-verify="required"
                           autocomplete="off" class="layui-input" th:value="${result==null?'':result.data.count}">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="person" class="layui-form-label">
                  <span class="x-red">*</span>入住人数(人)
                </label>
                <div class="layui-input-inline">
                  <input type="text" id="person" name="person" required="" lay-verify="number"
                  autocomplete="off" class="layui-input" th:value="${result==null?'':result.data.person}">
                </div>
                <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="price" class="layui-form-label">
                    <span class="x-red">*</span>价格(元)
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="price" name="price" required="" lay-verify="required"
                           autocomplete="off" class="layui-input" th:value="${result==null?'':result.data.price}">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label for="comment" class="layui-form-label">
                    描述
                </label>
                <div class="layui-input-block" style="margin-left: 130px">
                    <textarea placeholder="请输入内容" id="comment" name="comment" class="layui-textarea" th:text="${result==null?'':result.data.comment}"></textarea>
                </div>
            </div>
          <div class="layui-form-item">
              <button  class="layui-btn" lay-filter="add" lay-submit>
                  保存
              </button>
          </div>
      </form>
    </div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;
        
          //自定义验证规则
          form.verify({
            nikename: function(value){
              if(value.length < 5){
                return '昵称至少得5个字符啊';
              }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
          });

          //监听提交
          form.on('submit(add)', function(data){
            console.log($("#addForm").serialize());
            var url = $("#data_id").val()==""?"/room/save":"/room/update";
              $.ajax({
                  //几个参数需要注意一下
                  type: "POST",//方法类型
                  dataType: "json",//预期服务器返回的数据类型
                  url: url,//url
                  data: $('#addForm').serialize(),
                  success: function(result) {
                      layer.alert("操作成功", {icon: 6},function () {
                          // 获得frame索引
                          var index = parent.layer.getFrameIndex(window.name);
                          //关闭当前frame
                          parent.layer.close(index);
                          parent.location.replace(parent.location.href);
                      });
                  },
                  error : function() {
                      alert("异常！");
                  }
              });

            return false;
          });
          
          
        });
    </script>
  </body>

</html>